name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3.5.2

    - name: Set up Python
      uses: actions/setup-python@v4.6.1
      with:
        python-version: '3.11'

    - name: Install Poetry
      uses: snok/install-poetry@v1

    - name: Install Python dependencies
      run: |
        poetry shell
        poetry install

    - name: Install act
      run: |
        curl https://raw.githubusercontent.com/nektos/act/master/install.sh | sudo bash
        echo "./bin" >> $GITHUB_PATH

    - name: Run tests
      run: |
        poetry run pytest -s --ignore=test/integration_tests
