name: Tests

on:
  push:
    branches:
      - main
  pull_request:

env:
  GITHUB_ACCESS_TOKEN: PLACE_HOLDER_TOKEN

jobs:
  build:
    strategy:
      matrix:
        python-version: ["3.12"]

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4.2.2

    - name: Set up Python
      uses: actions/setup-python@v5.4.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Poetry
      uses: snok/install-poetry@v1

    - name: Install Python dependencies
      run: |
        poetry install

    - name: Install act
      run: |
        curl https://raw.githubusercontent.com/nektos/act/master/install.sh | sudo bash
        echo "./bin" >> $GITHUB_PATH

    - name: Run tests
      run: |
        poetry run pytest -s --ignore=test/integration_tests
